<div class="container">
  <div class="card">
    <div class="card-header">
      Feedback form
    </div>
    <div class="card-body">
      <h5 class="card-title">Describe the case and leave contact details</h5>
      <form [formGroup]="feedbackForm">
        <div class="form-row">
          <div class="col-md">
            <app-reactive-input [fieldId]="'userName'"
                                [control]="feedbackForm.get('userName')">
            </app-reactive-input>
          </div>
          <div class="col-md">
            <app-reactive-input [fieldId]="'userLastName'"
                                [control]="feedbackForm.get('userLastName')">
            </app-reactive-input>
          </div>
          <div class="col-md">
            <app-reactive-input [fieldId]="'userEmail'"
                                [control]="feedbackForm.get('userEmail')">
            </app-reactive-input>
          </div>
        </div>

        <p>Form developing is to be continued ...</p>

        <button class="btn btn-primary mt-2"
                type="submit"
                (click)="onSubmit()">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
